@font-face {
    font-display: swap;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/livvic-v14-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/livvic-v14-latin-700.woff2') format('woff2');
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body{
    font-family: "Livvic", sans-serif;
    background-color: #014E56;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-header {
    padding: 71px 0 133px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 80px;
    color: white;
}
.header-link{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: white;
    transition: color 0.3s;  
}



.header-link:hover {
    color: #F67E7E;
}


.header-btn {
    width: 153px;
    padding: 9px 0 11px;
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    transition: all 0.3s;
    
}
.header-btn:hover {
    background-color: #fff;
    color: #002539;
}

/* headerend */

.hero-section {
    background-image: url(../images/hero-bg2.svg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: calc(50% - 749px) top;
    
}
.hero {
    padding-bottom: 250px;
    
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-image: url(../images/hero-bg1.svg);
    background-repeat: no-repeat;
    background-size: 358px;
    background-position: right bottom;
}
.hero > h2 {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    color: #fff;
    
    
}
.hero-title-color {
    color: #F67E7E;
}
.hero-content-wrapper {
    width: 445px;
}
.hero-content-wrapper > span{
    display: inline-block;
    margin-bottom: 79px;
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
}
.hero-content-wrapper{
    margin: 0 100px 0 100px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: white;
}

.build-section {
    background-color: #012F34;
    background-image: url("../images/build-bg1.svg") ;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right,bottom;
}


.build-section-title {
    margin-top: 140px;
}
.build-title {
    width: 445px;
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #fff;
    margin-bottom: 100px;
    
    
}
.minus{   
    display: flex;
    
    margin-bottom: 79px;
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
}
.build-section-wrapper {
    width: 540px;
    
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
    
    
}
.build-list {
    width: 540px;
    
}
.build-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 650px;
    margin-bottom: 50px;
    
}
.wrapper{
    width: 540px;
    height: 94px;
    
}
.wrapper + .wrapper{
    margin-bottom: 20px;
}
.wrapper > h3 {
    margin-top: 16px;
    color: #F67E7E;
    display: flex;
    gap: 100px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 16px;
    
}
.wrapper > p{
    color: #fff;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    
    
}

.build-img {
    width: 100px;
    height: 100px;
}

.build-content-wrapper {
    
    display: flex;
    align-items: center;
}
.build-flex {
    display: flex;
    justify-content: space-between;
}

.results-section {
    display: flex;
    align-items: center;
    justify-content: center;

}

.results-section {
    padding: 140px 0;
    color: #004047;
    background-image: url(../images/result-bg.svg),url(../images/result-bg2.svg);
    background-repeat: no-repeat;
    background-size: 147px , 200px 100px;
    background-position:left top ,right bottom;
}
.results-title {
font-size: 48px;
font-weight: 700;
line-height: 48px;
text-align: center;
color: #fff;
margin-bottom: 56px;

}
.results-title > span {
    color: #79C8C7;

}
.results-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.results-item {
    padding-top: 36px;
    width: 350px;
    text-align: center;
    background-image: url(../images/tick.svg);
    background-repeat: no-repeat;
    background-size: 67px 56px;
    background-position: top ;


}
.results-list-body {
font-size: 15px;
font-weight: 600;
line-height: 25px;
color: #fff;
margin-bottom: 24px;

}
.results-list-body ~ strong {
    display: inline-block;
    color: #79C8C7;
font-size: 18px;
font-weight: 700;
line-height: 28px;
margin-bottom: 2px;

}

.results-item-job {
font-size: 13px;
font-style: italic;
font-weight: 500;
line-height: 18px;
color: #fff;
margin-bottom: 32px;

}
.ready-section {
    transition: all 0.3s;
    height: 200px;
background-color: #F67E7E;
display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/ready1.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.ready-wrapper> h2 {
    color:#012F34 ;
font-size: 48px;
font-weight: 700;
line-height: 48px;

}
.ready-btn {
    width: 153px;
    padding: 9px 0 11px;
    border: 2px solid #002539;
    border-radius: 30px;
    text-align: center;
    color: #002539;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    transition: all 0.3s;

}
.ready-btn:hover {
    background-color: #004047;
    color: white;
}

.ready-wrapper {
    display: flex;
justify-content: space-between;
align-items: center;

}
.footer-link{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: white;
    transition: color 0.3s;
}
.site-footer {
    padding: 48px ;
    background-color: #002539;
}
.container {
}
.footer-wrapper {
    
}
.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.footer-item {
}
.footer-item > img {
    display: block; 
}

.footer-item-adress {
    display: flex;
    justify-content: center;
    align-items: start;
}
.footer-item-adress > p {
    color: #fff;
    opacity: 0.6;
font-size: 15px;
font-weight: 600;
line-height: 25px;

    
}
.footer-item-sm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 46px;
    align-items: end;


}
.footer-item-sm > a {
color: #fff;
font-size: 15px;
font-weight: 600;
line-height: 25px;
opacity: 0.6;

}
.footer-item-sm > img {
    
}
.sm-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 16px;

}
.home-wrapper{
    padding: 25px 0;  
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.home-wrapper > a{
font-size: 18px;
font-weight: 600;
line-height: 28px;
}
.home-wrapper > a:hover{
    color: #F67E7E;
    }
.social-link {
    color: #fff;
    transition: color 0.3s;
}

.social-link:hover {
color: #F67E7E;
    }