
.build-section {
    background-color: #012F34;
    background-image: url("../images/build-bg1.svg") ;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right bottom;
}


.build-section-title {
    margin-top: 140px;
}
.build-title {
    max-width: 445px;
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #fff;
    margin-bottom: 100px;
    
    
}
.minus{   
    display: flex;
    
    margin-bottom: 79px;
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
}
.build-section-wrapper {
    width: 540px;
    
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
    
    
}


.build-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    max-width: 100%;
    margin-bottom: 50px;
    
}
.wrapper{
    max-width: 100%;    
}
.wrapper + .wrapper{
    margin-bottom: 20px;
}
.wrapper > h3 {
    margin-top: 16px;
    color: #F67E7E;
    gap: 100px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 16px;
    
}
.wrapper > p{
    color: #fff;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: #ccd5d6;
    
    
}

.build-img {
    width: 100px;
    height: 100px;
}

.build-content-wrapper {
    
    display: flex;
    align-items: center;
}
.build-flex {
    display: flex;
    justify-content: space-between;
}

@media (max-width:1016px){
    .build-flex{
        flex-direction: column;
    }
    .build-section-title{
        margin-top: 0;
        margin-bottom: 44px;
    }
    .build-section{
        padding: 100px 0;
        padding-left: 98px;
        background-position: top right;
    }
    .build-title{
        margin: 0;
        max-width: 90%;
        font-size: 32px;
        line-height: 32px;


    }
    .build-section-wrapper{
        margin-top: 0;
        width: 100%;
    }
    .build-item{
        width: 86%;
    }
    .build-item:last-child{
        margin-bottom: 0;
    }
    
}
@media (max-width:660px){
    .build-flex{
        flex-direction: column;
    }
    .build-section{
        padding: 64px 0;
        padding-left: 0px;
        background-position: top right;
    }
    .build-title{
        max-width: 60%;
        margin: 0;
        max-width: 90%;
        font-size: 32px;
        line-height: 32px;
    }
    .build-item{
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 16px;
        & + &{
            margin-bottom: 48px;
        }
    }
    .build-section-title{
        margin-bottom: 56px;
    }
    
}